@import 'animate';
body {
    margin: 0;
    overflow-x: hidden;
}
.container {
    width: 85%;
    margin: 0 auto;
}
.svg {
    width: 100%;
}
.header__cover {
    display: flex;
    padding-top: 100px;
} 
.wow { visibility: hidden; }
.visible { display: block!important; }
.header__menu {
    width: 5%;
    fill: #939ea2;
    stroke: #939ea2;
    position: absolute;
    cursor: pointer;
}
.submenu__cover {
    display: none;
    height: auto;
} 
.submenu {
    width: 120px;
    height: auto;
    padding: 10px;
    font-size: 20px;
    border: 1px solid gray;
    position: relative;
    display: block;
    background-color: white;
}
.submenu:hover {
    color: white;
    font-weight: 700;
    background-color: #5d6c6f;
}
.header__name {
    width: 94%;
    height: auto;
    color: #eff0f1;
    font-size: 190px;
    font-family: "Poppins", medium;
    margin-top: -75px;
    text-align: center;
}
.header__top {
    background-color: #80b7b3;
    color: white;
    font-size: 69px;
    font-family: "Playfair Display", serif;
    padding: 0px 50px 10px 50px;
    top: 0;
    margin: 0 auto;
    width: 225px;
    height: auto;
    position: absolute;
    left: 37%;
    box-shadow: 0px 16px 15px -3px #9b9c9c;
}
.content {
    background-image: url(../img/bg.png);
    background-repeat: repeat;
    padding-bottom: 115px;
}
.story__1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section__content {
    width: 49%;
}
.section__empty {
    width: 48%;
    background-image: url(../img/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 10px white solid;
    box-shadow: 0px 0px 56px 5px #9b9c9c;
}
.section__top {
    font-family: "Poppins", medium;
    font-size: 14px;
    color: #969da0;
    text-transform: uppercase;
}
.section__head {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    color: #273d46;
    margin-top: 30px;
    padding-right: 20%;
}
.section__text {
    font-family: "Playfair Display", regular;
    font-size: 24px;
    color: #687378;
    margin-top: 65px;
    padding-right: 20%;
}
.section__link {
    background-color: #80b7b3;
    color: white;
    width: 30%;
    height: auto;
    font-size: 14px;
    font-family: "Poppins", medium;
    display: flex;
    justify-content: center;
    padding: 10px 20px 0 20px;
    margin-top: 80px;
    border-radius: 30px;
    border: 1px solid #80b7b3;
    cursor: pointer;
}
.section__link:hover {
    color: #80b7b3;
    background-color: white;
    border: 1px solid #80b7b3;
    
}
.section__link:hover .link__icon {
    fill: #80b7b3;
    stroke: #80b7b3;
}
.link__icon {
    fill: white;
    stroke: white;
    width: 20%;
}
.link__name {
    width: 60%;
    padding-top: 8px;
}
.beige {
    position: relative;
    top: 60px;
    left: -130px;
    width: 60%;
    border: 10px white solid;
    box-shadow: 0px 0px 56px 5px #9b9c9c;
}
.story__2 {
    margin-top: 200px;
}
.story__2 .section__top {
    text-align: center;
}
.story__2 .section__head {
    text-align: center;
    padding-right: 0;
    width: 70%;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 75px;
}
.story__img {
    width: 74%;
    margin: 0 auto;
    margin-left: 13%;
    border: 10px white solid;
    box-shadow: 0px 0px 56px 5px #9b9c9c;
}
.story__2 .section__text {
    width: 64%;
    margin: 0 auto;
    padding-right: 0;
    margin-top: 65px;
}
.story__2 .section__link {
    width: 13%;
    margin-left: 18%;
}
.video {
    background-image: url(../img/img4.jpg);
    width: 100%;
    height: auto;
    padding: 200px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.play {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    fill: white;
    stroke: white;
    background-color: #506169;
    border-radius: 50%;
}
.testimonials {
    padding: 135px 0 265px 0;
    background-image: url(../img/bg.png);
    background-repeat: repeat;
}
.testimonials__cover {
    display: flex;
    justify-content: center;
}
.gray {
    width: 50%;
    height: 400px;
    border: 10px white solid;
    box-shadow: 0px 0px 56px 5px #9b9c9c;
}
.testimonials__right {
    width: 40%;
    padding-left: 30px;
}
.testimonials__text {
    color: #273d46;
    font-family: "Playfair Display";
    font-style: italic;
    font-size: 26px;
}
.testimonials__сard {
    background-color: #ffffff;
    padding: 60px 100px 65px 60px;
    // border: black 2px solid;
    width: 45%;
    height: auto; 
    right: 0;
    margin-right: 10%;
    position: absolute;
    margin-top: -100px;
}
.testimonials__author {
    font-family: "Poppins", medium;
    font-size: 14px;
}
.testimonials__сard .section__link {
    margin-top: 5%;
    position: absolute;
    margin-left: 20%;
}
.subscribe {
    background-image: url(../img/img6.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 0 65px 0;
}
.subscribe__form {
    background-color: rgba($color: #30464c, $alpha: 0.7);
    width: 40%;
    height: auto;
    padding: 35px 70px 60px 70px;
    margin: 0 auto;
    text-align: center;
    font-family: "Poppins";
    font-size: 16px;
    color: white;
}
.input {
    width: 30%;
    margin-left: 20px;
    background-color: #2b3c40;
    color: #bec1c2;
    border: 2px solid #5d6c6f;
    padding: 10px 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.subscribe__form .section__link {
    margin: 0 auto;
    margin-top: 0;
}
@media (max-width: 1000px) {
    .story__1 {
        flex-wrap: wrap;
    }
    .section__content {
        width: 100%;
        margin-bottom: 30px;
    }
    .section__empty {
        width: 60%;
        height: 500px;
        margin-top: 370px;
    }
    .section__text {
        padding-right: 0;
    }
    .section__head {
        padding-right: 0;
    }
    .story__2 {
        margin-top: 100px;
    }
    .section__link {
        width: 22%;
    }
    .story__2 .section__link {
        width: 20%;
    }
    .gray {
        width: 40%;
    }
    .testimonials__сard .section__link {
        width: 32%;
    }
    .beige {
        top: -375px;
        left: 0px; 
        width: 98%;
    }
    .subscribe__form {
        padding: 35px 40px 60px 40px;
    }
    .link__name {
        padding-top: 3px;
    }
    .subscribe__form .section__link {
        width: 50%;
    }
}
@media (max-width: 850px) {
    .input {
        width: 70%;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .form__text {
        margin-bottom: 30px;
    }
    .testimonials__author {
        margin-top: 25px;
    }
    .testimonials__cover {
        flex-wrap: wrap;
    }
    .gray {
        width: 70%;
    }
    .testimonials__right {
        width: 72%;
        padding-left: 0px;
        margin-top: 45px;
    }
    .testimonials__сard {
        margin-top: 35px;
        margin: 0 auto;
        position: static;
        padding: 60px 60px 65px 60px;
        width: 68%;
    }
    .testimonials__сard .section__link {
        width: 21%;
    }
    .testimonials {
        padding: 135px 0 140px 0;
    }
}
@media (max-width: 740px) {
    .header__top {
        left: 27%;
    }
    .header__name {
        font-size: 160px;
        margin-top: -60px;
    }
    .beige {
        left: -7px;
        width: 98%;
        top: -320px;
    }
    .section__empty {
        margin-top: 330px;
    }
}
@media (max-width: 685px) {
.section__link {
    width: 32%;
}
.story__2 .section__link {
    width: 28%;
}
.testimonials__сard .section__link {
    width: 38%;
}
.subscribe__form .section__link {
    width: 70%;
}
.gray {
    height: 315px;
}
}
@media (max-width: 570px) {
.header__name {
    font-size: 135px;
    margin-top: -50px;
}
.header__menu {
    width: 10%;
}
.section__empty {
    width: 75%;
}
.beige {
    width: 100%;
}
.testimonials__сard {
    margin-top: -45px;
}
.testimonials__сard .section__link {
    margin-top: 10%;
}
}
@media (max-width: 490px) {
    .header__name {
        font-size: 100px;
        margin-top: -49px;
    }
    .header__top {
        left: 14%;
        font-size: 60px;
        padding: 0px 20px 10px 50px;
    }
    .section__link {
        width: 44%;
    }
    .story__2 .section__link {
        width: 43%;
    }
    .beige {
        top: -255px;
    }
    .testimonials__сard .section__link {
        width: 50%;
    }
    .subscribe__form .section__link {
        width: 100%;
    }
    .subscribe__form {
        padding: 35px 50px 60px 50px;
    }
    .subscribe__form .section__link {
        padding: 10px 10px 0 10px;
    }
    .input {
        width: 89%;
    }
    .header__top {
        width: 160px;
        font-size: 50px;
    }
    .header__name {
        font-size: 75px;
    }
    .header__menu {
        margin-top: -20px;
    }
    .section__link {
        width: 60%;
    }
    .section__empty {
        height: 270px;
        margin-top: 270px;
    }
    .testimonials__cover {
        flex-wrap: wrap;
    }
    .gray {
        width: 80%;
        height: 200px;
    }
    .testimonials__right {
        width: 80%;
    }
    .testimonials__сard {
        width: 85%;
        padding: 0;
        margin-right: 4%;
        margin-top: 20px;
    }
    .testimonials__сard .section__link {
        width: 55%;
        margin-left: 0;
    }
    .subscribe__form {
        width: 51%;
    }
    .input {
        width: 73%;
    }
    .subscribe__form .section__link {
        padding: 10px 0px 0 0px;
    }
    .story__2 .section__text {
        width: 75%;
    }
}
